<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <py:match path="//div[@class='footer outer']">
	  <div class="footer outer">
	    <footer class="container">
	      <div class="row">
	        <div class="span3">
	          <h3 class="widget-title">About ${g.site_title}</h3>
	          <div class="textwidget">
	            <ul>
	                <li>${h.link_to(_('About'), h.url_for(controller='home', action='about'))}</li>
	              <li>
	                <a href="http://twitter.com/ckanproject">Twitter @ckanproject</a>
	              </li>
	                <li>${h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=1))}</li>
	                <li>${h.link_to(_('API Docs'), 'http://docs.ckan.org/en/latest/api.html')}</li>
	              <li>
	                <a href="http://ckan.org/contact/">Contact Us</a>
	              </li>
	              <li>
	                <a href="http://okfn.org/privacy-policy/">Privacy Policy</a>
	              </li>
	            </ul>
	          </div>
	        </div>
	        <div class="span3">
	          <h3 class="widget-title">Sections</h3>
	          <div class="textwidget">
	            <ul>
	              <li>
	                <a href="${h.url(controller='user', action='index')}">
	                  Users
	                </a>
	              </li>
	              <li>
	                <a href="${h.url(controller='tag', action='index')}">
	                  Tags
	                </a>
	              </li>
	              <li py:if="'stats' in config.get('ckan.plugins','').split(' ')">
	                <a href="${h.url('stats')}">
	                  Statistics
	                </a>
	              </li>
	              <li>
	                <a href="${h.url(controller='revision', action='index')}">
	                  Revisions
	                </a>
	              </li>
	              <li>
	                <a href="${h.url_for('ckanadmin_index')}">
	                  Site Admin
	                </a>
	              </li>
	            </ul>
	          </div>
	        </div>
	        <div class="span3">
	          <h3 class="widget-title">Languages</h3>
	          <div class="textwidget">
	            <ul>
	<?python
	  current_url = request.environ['CKAN_CURRENT_URL']
	?>
	              <li py:for="locale in h.get_available_locales()">
	              <a href="${h.url(current_url, locale=str(locale))}">
	                  ${locale.display_name or locale.english_name}
	                </a>
	              </li>
	            </ul>
	          </div>
	        </div>
	        <div class="span3">
	          <h3 class="widget-title">Meta</h3>
	          <p id="credits">
	            &copy; 2012
	            <img src="http://assets.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" id="footer-okf-logo" />
	            <a href="http://okfn.org/">Open Knowledge Foundation</a>
	            Licensed under the <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database License</a>
	            <a href="http://opendefinition.org/"><img alt="This Content and Data is Open" src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" style="border: none;"/></a>
	
	            <br/><br/>
	            Powered by <a href="http://ckan.org">CKAN</a> v${c.__version__}.<br/>
	            <h3 class="widget-title">Tukijat</h3>
	            <a href="http://www.emobit.fi/"><img src="/images/logos/emobit_128.png" width="128" /></a><br /><br />
	            <a href="http://www.epte.fi/"><img src="/images/logos/EPTE_Logo.png" width="128" /></a><br /><br />
	            <a href="http://www.floapps.com/"><img src="/images/logos/flo-apps-logo-transparent-small.gif" width="128" /></a><br /><br />
	          </p>
	        </div>
	      </div>
	    </footer>
	  </div> <!-- eo #container -->
  </py:match>
  
  <xi:include href="layout_base.html" />
</html>
  